extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  h1= title
  p Bienvenu sur #{title} le super generateur de description créer par Sleur

  a.btn(href='/users/clavier') Clavier
  a.btn(href='/users/souris')  Souris
  a.btn(href='/users/casque')  Casque
  a.btn(href='/users/tapis')  Tapis de souris
  a.btn(href='/users/boitier')  Boitier
  a.btn(href='/users/alimentation')  Alimentation
  a.btn(href='/users/processeur')  Processeur
  a.btn(href='/users/ram')  RAM
  a.btn(href='/users/ssd')  SSD
  a.btn(href='/users/refroidissement')  Refroidissement
  a.btn(href='/users/cartemere')  Carte Mere
  a.btn(href='/users/cartegraphique')  Carte Graphique
  a.btn(href='/users/ecran')  Ecrans
  a.btn(href='/users/undone')  Customs
  



